*{
    margin: 0;
    padding: 0;
}
.header-img{
    position: absolute;
    width: 100%;
    margin: auto;
}
.header-img img{
    width: 100%;
    height: 300px;
    display: block;
}
.text-overlay{
    position:absolute;
    top: 50%;
    color: white;
    text-align: center;

}
